# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc
venv/
env/
myenv/

# Model files (too large for GitHub)
*.h5
*.keras
*.pb
*.onnx

# Kaggle
kaggle.json

# AWS
.aws/
*.pem

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Logs
*.log